#openai api key
VITE_API_KEY=your_key_here
VITE_API_URL=https://openrouter.ai/api/v1
VITE_API_MODEL=openrouter/free

# Hugging Face API Key
VITE_API_HF_KEY=your_key_heregit
# VITE_API_URL=https://openrouter.ai/api/v1
VITE_API_HF_MODEL=meta-llama/Llama-3.1-8B-Instruct